{{!< ../default}}

<div class='o-wrapper'>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--center o-grid__col--4-4-s o-grid__col--3-4-m o-grid__col--2-4-l'>
      <div class='c-archive'>
        <h2 class='c-archive__title'>{{t 'Choose your subscription'}}</h2>
        <p class='c-archive__description'>{{t 'Unlock full access to {siteTitle} and see the entire library of members-only content & updates.' siteTitle=@site.title}}</p>
      </div>
    </div>
  </div>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--center o-grid__col--4-4-m o-grid__col--3-4-l'>
      {{> signup-plans }}

      {{#unless @member}}
        <div><span class='u-type-xs u-type-500'>{{t 'Already have an account?'}} <a href='{{ @site.url }}/signin/' class='u-link'>{{t 'Log in'}}</a></span></div>
      {{/unless}}
    </div>
  </div>
</div>